header {
  background: linear-gradient(
    82deg,
    rgb(250, 117, 139),
    rgb(74, 74, 252),
    rgb(64, 255, 207)
  );
}

nav button {
  border: 0;
  border-radius: 10px;
  background-color: whitesmoke;
}

.bord {
  background: linear-gradient(
    82deg,
    rgb(250, 117, 139),
    rgb(74, 74, 252),
    rgb(64, 255, 207)
  );
}

footer {
  height: 16%;
}
